In [38]:
from pandas_datareader import data
import matplotlib.pyplot as plt
import pandas as pd
import math

In [6]:
# Define the instruments to download. We would like to see Apple, Microsoft and the S&P500 index.
tickers = ['AAPL', 'MSFT', '^GSPC']

# Define which online source one should use
data_source = 'yahoo'

# We would like all available data from 01/01/2000 until 12/31/2016.
start_date = '2010-01-01'
end_date = '2014-12-31'

# User pandas_reader.data.DataReader to load the desired data. As simple as that.
panel_data = data.DataReader(tickers, data_source, start_date, end_date)

In [13]:
panel_data.items

Index([u'Adj Close', u'Close', u'High', u'Low', u'Open', u'Volume'], dtype='object')

In [27]:
panel_data[0,0,0]

104.488365

In [28]:
panel_data

<class 'pandas.core.panel.Panel'>
Dimensions: 6 (items) x 1259 (major_axis) x 3 (minor_axis)
Items axis: Adj Close to Volume
Major_axis axis: 2014-12-31 00:00:00 to 2009-12-31 00:00:00
Minor_axis axis: AAPL to ^GSPC

In [34]:
#del panel_data['Open']
#del panel_data['Close']
#del panel_data['High']
#del panel_data['Low']

In [53]:
panel_data[:,:,0] # item date company

             Adj Close       Volume
Date
2014-12-31  104.488365   41403400.0
2014-12-30  106.514137   29881500.0
2014-12-29  107.829964   27598900.0
2014-12-26  107.905685   33721000.0
2014-12-24  106.031380   14479600.0
2014-12-23  106.533096   26028400.0
2014-12-22  106.911728   45167500.0
2014-12-19  105.813644   88429800.0
2014-12-18  106.637215   59006200.0
2014-12-17  103.570152   53411800.0
2014-12-16  101.052124   60790700.0
2014-12-15  102.453140   67218100.0
2014-12-12  103.873077   56028100.0
2014-12-11  105.662201   41401700.0
2014-12-10  105.974571   44565300.0
2014-12-09  108.028755   60208000.0
2014-12-08  106.400558   57664900.0
2014-12-05  108.861786   38318900.0
2014-12-04  109.325630   42044500.0
2014-12-03  109.742149   43063400.0
2014-12-02  108.511536   59348900.0
2014-12-01  108.928024   83814000.0
2014-11-28  112.582008   24814400.0
2014-11-26  112.648285   40768300.0
2014-11-25  111.322998   68840400.0
2014-11-24  112.298027   47450800.0
2014-11-21  110.253319   57179300.0
2014-11-20  110.101860   43395500.0
2014-11-19  108.549408   41869200.0
2014-11-18  109.306686   44224000.0
...                ...          ...
2010-02-12   25.661045  163867200.0
2010-02-11   25.442059  137586400.0
2010-02-10   24.987444   92590400.0
2010-02-09   25.124472  158221700.0
2010-02-08   24.859381  119567700.0
2010-02-05   25.030981  212576700.0
2010-02-04   24.594294  189413000.0
2010-02-03   25.513775  153832000.0
2010-02-02   25.082211  174585600.0
2010-02-01   24.937496  187469100.0
2010-01-29   24.595573  311488100.0
2010-01-28   25.521461  293375600.0
2010-01-27   26.621517  430642100.0
2010-01-26   26.373072  466777500.0
2010-01-25   26.005541  266424900.0
2010-01-22   25.324244  220441900.0
2010-01-21   26.645842  152038600.0
2010-01-20   27.114555  153038200.0
2010-01-19   27.538433  182501900.0
2010-01-15   26.371792  148516900.0
2010-01-14   26.820007  108223500.0
2010-01-13   26.976244  151473000.0
2010-01-12   26.601023  148614900.0
2010-01-11   26.907093  115557400.0
2010-01-08   27.146566  111902700.0
2010-01-07   26.967278  119282800.0
2010-01-06   27.017223  138040000.0
2010-01-05   27.453915  150476200.0
2010-01-04   27.406532  123432400.0
2009-12-31   26.986492   88102700.0

[1259 rows x 2 columns]

In [59]:
len(panel_data[0,:,0])

1259

In [67]:
a = [math.round(math.log(panel_data[0,i,0] / panel_data[0,i-1,0]), 4) for i in range(1,len(panel_data[0,:,0]))]
a

AttributeError: 'module' object has no attribute 'round'